<a href="https://colab.research.google.com/github/Raghnus/coding-dojo/blob/main/Track3/RNC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Flatten, Conv2D, MaxPooling2D
from tensorflow.keras.utils import to_categorical
from google.colab import drive

In [3]:
drive.mount('/content/drive')

Mounted at /content/drive

In [41]:
df_train=pd.read_csv('/content/drive/MyDrive/PTCienciaDatos/DeepLearning/RNC/fashion-mnist_train.csv')
df_train.head()

,label,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,pixel9,...,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783,pixel784
0,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,9,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,6,0,0,0,0,0,0,0,5,0,...,0,0,0,30,43,0,0,0,0,0
3,0,0,0,0,1,2,0,0,0,0,...,3,0,0,0,0,1,0,0,0,0
4,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [42]:
df_test=pd.read_csv('/content/drive/MyDrive/PTCienciaDatos/DeepLearning/RNC/fashion-mnist_test.csv')
df_test.head()

,label,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,pixel9,...,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783,pixel784
0,0,0,0,0,0,0,0,0,9,8,...,103,87,56,0,0,0,0,0,0,0
1,1,0,0,0,0,0,0,0,0,0,...,34,0,0,0,0,0,0,0,0,0
2,2,0,0,0,0,0,0,14,53,99,...,0,0,0,0,63,53,31,0,0,0
3,2,0,0,0,0,0,0,0,0,0,...,137,126,140,0,133,224,222,56,0,0
4,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [43]:
X_train=df_train.drop(columns={'label'})
y_train=df_train['label']
X_test=df_test.drop(columns={'label'})
y_test=df_test['label']

In [44]:
def pixeles(X_train, y_train, X_test, y_test):
 X_train = X_train/255
 X_test = X_test/255
 X_train = np.array(X_train)
 X_test = np.array(X_test)
 X_train = X_train.reshape(X_train.shape[0], 28, 28, 1)
 X_test = X_test.reshape(X_test.shape[0], 28, 28, 1)
 y_train = to_categorical(y_train, num_classes = 10)
 y_test = to_categorical(y_test, num_classes = 10)
 return X_train, X_test, y_train, y_test

In [46]:
X_train, X_test, y_train, y_test = pixeles(X_train,y_train, X_test, y_test)

In [47]:
forma=X_train.shape[1:4]

In [52]:
model = Sequential()

In [53]:
model.add(Conv2D(filters = 10, 
                 kernel_size = 5,
                 input_shape = forma)) 
# Pooling layer
model.add(MaxPooling2D(pool_size = 2)) # Tamaño de pooling
# Capa de aplanamiento
model.add(Flatten())
# Capa de salida
model.add(Dense(10, # Cuantas posibilidades de salida tenemos
                activation = 'softmax')) # ¿Qué función de activación estás usando?

In [54]:
# Paso 2: compilar
model.compile(loss = 'categorical_crossentropy', optimizer = 'adam', metrics = ['acc'])

In [61]:
# Paso 3: ajustar nuestro modelo
history = model.fit(X_train, y_train,
                    validation_data = (X_test, y_test), 
                    epochs=10)

Epoch 1/10
1875/1875 [==============================] - 19s 10ms/step - loss: 0.1674 - acc: 0.9392 - val_loss: 0.4084 - val_acc: 0.8907
Epoch 2/10
1875/1875 [==============================] - 19s 10ms/step - loss: 0.1672 - acc: 0.9387 - val_loss: 0.4137 - val_acc: 0.8923
Epoch 3/10
1875/1875 [==============================] - 19s 10ms/step - loss: 0.1669 - acc: 0.9407 - val_loss: 0.4361 - val_acc: 0.8853
Epoch 4/10
1875/1875 [==============================] - 19s 10ms/step - loss: 0.1670 - acc: 0.9396 - val_loss: 0.4202 - val_acc: 0.8896
Epoch 5/10
1875/1875 [==============================] - 19s 10ms/step - loss: 0.1654 - acc: 0.9401 - val_loss: 0.4215 - val_acc: 0.8929
Epoch 6/10
1875/1875 [==============================] - 19s 10ms/step - loss: 0.1660 - acc: 0.9392 - val_loss: 0.4313 - val_acc: 0.8869
Epoch 7/10
1875/1875 [==============================] - 19s 10ms/step - loss: 0.1666 - acc: 0.9395 - val_loss: 0.4235 - val_acc: 0.8883
Epoch 8/10
1875/1875 [==============================] - 19s 10ms/step - loss: 0.1658 - acc: 0.9397 - val_loss: 0.4318 - val_acc: 0.8870
Epoch 9/10
1875/1875 [==============================] - 19s 10ms/step - loss: 0.1666 - acc: 0.9391 - val_loss: 0.4220 - val_acc: 0.8893
Epoch 10/10
1875/1875 [==============================] - 19s 10ms/step - loss: 0.1649 - acc: 0.9401 - val_loss: 0.4230 - val_acc: 0.8911